.message_block {
    width: 40vw;
}

.message_header {
    display: flex;
    justify-content: space-between;
    gap: 4vw;

    padding: 20px 35px;
    text-align: left;
}

.message_header_info {
    display: flex;
    justify-content: space-between;
    gap: 4vw;
    align-items: center;
}

.message_text {
    padding: 20px 35px;
    background-color: rgb(88, 115, 145);
    text-align: left;
    
}

.message_green {
    background-color: rgb(109, 174, 106);
    border: rgb(109, 174, 106) solid 2px;
}

.message_blue {
    background-color: rgb(127, 189, 255);
    border: rgb(127, 189, 255) solid 2px;
}
